// Dependencies
@import 'susy';

// Variables, mixins and functions
@import 'abstracts/variables/_variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// Theme Styles start here
@import 'base/normalize';

/**
 * Typography
 */
@import 'base/typography/headings';
@import 'base/typography/copy';
@import 'base/typography/links';
@import 'base/typography/blockquotes';
@import 'base/typography/lists';
@import 'base/typography/tables';
@import 'base/typography/code';

/**
 * Layout
 */
@import 'layout/structure';
// @import 'layout/header';
@import 'layout/footer';

/**
 * Components
 */
@import 'components/forms';
@import 'components/buttons';
@import 'components/alignments';
// @import 'components/images';
// @import 'components/icons';
// @import 'components/lines';
// @import 'components/alerts';
// @import 'components/media';
// @import 'components/captions';
@import 'components/accessibility';
@import 'components/clearings';

/**
 * Partials
 */
// @import 'partials/menu-primary';
// @import 'partials/menu-social';
// @import 'partials/pagination';
// @import 'partials/post-thumbnail';
// @import 'partials/entry-title';
// @import 'partials/entry-meta';
// @import 'partials/entry-content';
// @import 'partials/comments';
// @import 'partials/galleries';
// @import 'partials/post-navigation';
// @import 'partials/widgets';

/**
 * Templates
 */
// @import 'templates/blog';
// @import 'templates/single';
// @import 'templates/page';
// @import 'templates/page-centered';
// @import 'templates/page-fullwidth';
// @import 'templates/page-front';
// @import 'templates/page-404';

/**
 * Media Queries
 */