/* Footer */

.site-footer {
	@extend .clear;
	padding: 1.5em 1.5em 0;
	color: $color__footer-text;
	background-color: $color__footer-bg;
	@media screen and ( min-width: $sm ) {
		padding: 1.5em 3em 1.5em;
	}
	a {
		color: $color__text-secondary;
	}
}

.site-info-generator {
	@media screen and ( min-width: $sm ) {
		margin-right: 0.75em;
		padding-right: 0.75em;
		border-right: 1px solid $color__text-secondary;
	}
}

.site-info {
	display: block;
	text-align: center;
}
