/* Header */

.site-header {
	@extend .clear;
	padding: 1.5em;
	background-color: #f3f3f3;
	@media screen and ( min-width: 880px ) {
		padding: 3em;
	}

}

hgroup {
	@media screen and (min-width: 880px ) {
		float: left;
		@include with-layout( $susy-static ) {
			width: span( 2 );
		}
	}
}

.site-title {
	@include with-layout( $susy-static ) {
		width: span( 2 );
	}
	margin: 0 auto;
	color: transparent;
	text-indent: -9999px;
	background-color: #ccc;
	a {
		@include with-layout( $susy-static ) {
			width: span( 2 );
			height: span( 2 );
			background-size: span( 2 ) span( 2 );
		}
		display: block;
		background-image: url( 'http://2014.new-site.wordcamp.dev/wp-content/uploads/sites/45/2016/04/wcm-logo-v0.1.0.png' );
		background-repeat: no-repeat;
	}
}

.site-description {
	@extend .assistive-text;
}
