/* Structure */

body {
	background-color: $color__background-body;
}

.site {
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
}

#main {
	background-color: #fff;
}
.site-content {
	padding: 0 1.5em 0;
	@media screen and ( min-width: $sm ) {
		padding: 0 3em 1.5em;
	}
}

.widget-area {
	
}