/* Structure */

body {
	background-color: $color__background-body;
}

.site {
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
}

.site-content {
	padding: 1.5em 1.5em 0;
	@media screen and ( min-width: $sm ) {
		padding: 3em 3em 1.5em;
	}
}

.widget-area {
	display: none;
}
