/* Structure */

body {
	background-color: $color__background-body;
}

.site {
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
}

// .site-content {
// 	padding-top: 1.5em;
// 	@media screen and ( min-width: $sm ) {
// 		padding-top: 3em;
// 	}
// }
