/**
 * Normalize
 */

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 18px;

	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	color: #585858;
	background: #aeebf2;
	line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

abbr[title],
acronym {
	border-bottom: 1px dotted;
	cursor: help;
}

b,
strong {
	font-weight: bold;
}

dfn,
em,
i {
	font-style: italic;
}

mark,
ins {
	color: #585858;
	background: rgba(88, 88, 88, 0.15);
	text-decoration: none;
}

small {
	font-size: 13.5px;
	font-size: 0.75rem;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0 0 1.5em 0;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	color: inherit;
	font: inherit;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input {
	line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
	padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	height: auto;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	margin: 0 0 1.5em;
	padding: 0.63889em 1em 0;
	border: 2px solid rgba(88, 88, 88, 0.15);
	border-radius: 3px;
}

legend {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/**
 * Typography
 */

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0 0 27px 0;
	margin: 0 0 1.5rem 0;
	color: #1e1e1e;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 27px;
	line-height: 1.5rem;
}

h1 {
	font-size: 32px;
	font-size: 1.77778rem;
	line-height: 40.5px;
	line-height: 2.25rem;
}

h2 {
	font-size: 27px;
	font-size: 1.5rem;
}

h3 {
	font-size: 24px;
	font-size: 1.33333rem;
}

h4 {
	font-size: 18px;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h5 {
	font-size: 18px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h6 {
	font-size: 18px;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* Copy */

p {
	margin: 0 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

big {
	font-size: 20.25px;
	font-size: 1.125rem;
	line-height: 18px;
	line-height: 1rem;
}

/* Links */

a {
	color: #5d8aa6;
	background-color: transparent;
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
	color: #5d8aa6;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	color: #5d8aa6;
	text-decoration: underline;
}

/* Blockquotes */

blockquote,
q {
	margin: 1.125em;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-size: 1.33333rem;
	font-style: italic;
	line-height: 27px;
	line-height: 1.5rem;
	quotes: '' '';
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
}

blockquote p,
q p {
	margin: 0;
}

cite {
	display: block;
	margin: 0;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 11.25px;
	font-size: 0.625rem;
	font-style: normal;
	line-height: 27px;
	line-height: 1.5rem;
	letter-spacing: 0.0625em;
	text-transform: uppercase;
}

cite:before {
	content: '\2014\2002';
}

/* Lists */

ul,
ol {
	margin: 0 0 1.5em 1.5em;
	padding-left: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1.5em;
}

/* Tables */

table {
	width: 100%;
	margin-bottom: 1.44444em;
	padding: 0;

	cellspacing: 0;
}

td,
th {
	padding: 0.75em;
	border-bottom: 1px solid rgba(88, 88, 88, 0.15);
	text-align: left;
}

thead th {
	padding: 1em 1em 0.92593em;
	background-color: rgba(88, 88, 88, 0.15);
	font-size: 0.75em;
	font-weight: 400;
	line-height: 2;
	text-transform: uppercase;
}

/* Code */

pre {
	overflow: auto;
	max-width: 100%;
	margin-bottom: 1.6em;
	padding: 1.6em;
	color: #fff;
	background: #1e1e1e;
	font-family: 'Courier 10 Pitch', Courier, monospace;
	line-height: 1.6;
	word-wrap: initial;
}

code,
kbd,
pre,
samp,
tt,
var {
	font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
	font-size: 16.875px;
	font-size: 0.9375rem;
}

/**
 * Layout
 */

/* Structure */

body {
	background-color: #aeebf2;
}

.site {
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
}

/**
 * Components
 */

/* Alignments */

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

img.alignleft {
	max-width: 50%;
	margin: 0 1.5em 1.5em 0;
}

img.alignright {
	max-width: 50%;
	margin: 0 0 1.5em 1.5em;
}

.wp-caption.alignleft {
	max-width: 50%;
	margin: 0 1.5em 1.125em 0;
}

.wp-caption.alignright {
	max-width: 50%;
	margin: 0 0 1.125em 1.5em;
}

blockquote.alignleft {
	width: 50%;
	margin: 1.125em 1.125em 1.125em 0;
}

blockquote.alignright {
	width: 50%;
	margin: 1.125em 0 1.125em 1.125em;
}

/* Accessibility */

.assistive-text {
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	width: 1px;
	height: 1px;
}

.assistive-text:hover,
.assistive-text:active,
.assistive-text:focus {
	display: block;
	clip: auto !important;
	z-index: 100000;
	top: 5px;
	left: 5px;
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	border-radius: 3px;
	color: #21759b;
	background-color: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	font-size: 15.75px;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
}

/* Clearings */

.clear:after {
	display: table;
	clear: both;
	content: '';
}

/**
 * Partials
 */

/**
 * Templates
 */

/**
 * Media Queries
 */

@media screen and (min-width: 768px) {
	blockquote,
	q {
		margin: 2.25em;
	}

	blockquote.alignleft {
		margin: 2.25em 2.25em 2.25em 0;
	}

	blockquote.alignright {
		margin: 2.25em 0 2.25em 2.25em;
	}
}
