/**
 * Normalize
 */

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 18px;

	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	color: #585858;
	background: #f0f0f0;
	line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

abbr[title],
acronym {
	border-bottom: 1px dotted;
	cursor: help;
}

b,
strong {
	font-weight: bold;
}

dfn,
em,
i {
	font-style: italic;
}

mark,
ins {
	color: #585858;
	background: rgba(88, 88, 88, 0.15);
	text-decoration: none;
}

small {
	font-size: 13.5px;
	font-size: 0.75rem;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0 0 1.5em 0;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	color: inherit;
	font: inherit;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input {
	line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
	padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	height: auto;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	margin: 0 0 1.5em;
	padding: 0.63889em 1em 0;
	border: 2px solid rgba(88, 88, 88, 0.15);
	border-radius: 3px;
}

legend {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/**
 * Typography
 */

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0 0 27px 0;
	margin: 0 0 1.5rem 0;
	color: #1e1e1e;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 27px;
	line-height: 1.5rem;
}

h1 {
	font-size: 32px;
	font-size: 1.77778rem;
	line-height: 40.5px;
	line-height: 2.25rem;
}

h2 {
	font-size: 27px;
	font-size: 1.5rem;
}

h3 {
	font-size: 24px;
	font-size: 1.33333rem;
}

h4 {
	font-size: 18px;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h5 {
	font-size: 18px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h6 {
	font-size: 18px;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* Copy */

p {
	margin: 0 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

big {
	font-size: 20.25px;
	font-size: 1.125rem;
	line-height: 18px;
	line-height: 1rem;
}

/* Links */

a {
	color: #5d8aa6;
	background-color: transparent;
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
	color: #5d8aa6;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	color: #5d8aa6;
	text-decoration: underline;
}

/* Blockquotes */

blockquote,
q {
	margin: 1.125em;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-size: 1.33333rem;
	font-style: italic;
	line-height: 27px;
	line-height: 1.5rem;
	quotes: '' '';
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
}

blockquote p,
q p {
	margin: 0;
}

cite {
	display: block;
	margin: 0;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 11.25px;
	font-size: 0.625rem;
	font-style: normal;
	line-height: 27px;
	line-height: 1.5rem;
	letter-spacing: 0.0625em;
	text-transform: uppercase;
}

cite:before {
	content: '\2014\2002';
}

/* Lists */

ul,
ol {
	margin: 0 0 1.5em 1.5em;
	padding-left: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1.5em;
}

/* Tables */

table {
	width: 100%;
	margin-bottom: 1.44444em;
	padding: 0;

	cellspacing: 0;
}

td,
th {
	padding: 0.75em;
	border-bottom: 1px solid rgba(88, 88, 88, 0.15);
	text-align: left;
}

thead th {
	padding: 1em 1em 0.92593em;
	background-color: rgba(88, 88, 88, 0.15);
	font-size: 0.75em;
	font-weight: 400;
	line-height: 2;
	text-transform: uppercase;
}

/* Code */

pre {
	overflow: auto;
	max-width: 100%;
	margin-bottom: 1.6em;
	padding: 1.6em;
	color: #fff;
	background: #1e1e1e;
	font-family: 'Courier 10 Pitch', Courier, monospace;
	line-height: 1.6;
	word-wrap: initial;
}

code,
kbd,
pre,
samp,
tt,
var {
	font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
	font-size: 16.875px;
	font-size: 0.9375rem;
}

/**
 * Layout
 */

/* Structure */

body {
	background-color: #f0f0f0;
}

.site {
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
}

.site-content {
	padding: 1.5em 1.5em 0;
}

.widget-area {
	display: none;
}

/* Footer */

.site-footer {
	padding: 0.75em 1.5em;
	color: rgba(88, 88, 88, 0.39);
	background-color: rgba(88, 88, 88, 0.15);
}

.site-footer a {
	color: rgba(88, 88, 88, 0.39);
}

.site-info {
	display: block;
	text-align: center;
}

/**
 * Components
 */

/* Forms */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
	width: 100%;
	padding: 0.69444em 1em;
	border: 1px solid;
	border-color: rgba(88, 88, 88, 0.39);
	-webkit-appearance: none;
	color: #585858;
	background-color: transparent;
	box-shadow: none;
	font-size: 18px;
	font-size: 1rem;
	line-height: 1.5;
	vertical-align: middle;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
textarea:focus {
	border-color: #5d8aa6;
	outline: 0;
}

label {
	color: rgba(88, 88, 88, 0.39);
}

::-webkit-input-placeholder {
	color: rgba(88, 88, 88, 0.39);
}

:-moz-placeholder {
	color: rgba(88, 88, 88, 0.39);
}

::-moz-placeholder {
	opacity: 1;
	color: rgba(88, 88, 88, 0.39);
}

input:-ms-input-placeholder {
	color: rgba(88, 88, 88, 0.39);
}

.post-password-form {
	position: relative;
}

.post-password-form label {
	display: block;
}

.post-password-form input[type='submit'] {
	position: absolute;
	right: 0;
	bottom: 0;
}

.search-form {
	position: relative;
	margin-bottom: 1.5em;
}

.search-submit {
	position: absolute;
	top: 0;
	right: 0;
}

input[type='submit'].search-submit {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Buttons */

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	display: inline-block;
	margin: 0;
	padding: 1.125em 1.5em;
	border: 1px solid;
	border-color: rgba(88, 88, 88, 0.39);
	-webkit-appearance: none;
	color: #585858;
	background-color: transparent;
	background-image: none;
	font-size: 16px;
	font-size: 0.88889rem;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
}

.button:active,
button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
	outline: 0;
}

.button:focus,
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.button:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover,
.button:focus,
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
	border-color: #585858;
	color: #fff;
	background-color: #585858;
	text-decoration: none;
}

.button-accent,
input[type='submit'].search-submit {
	border-color: #5d8aa6;
	color: #fff;
	background-color: #5d8aa6;
}

.button-accent:hover,
input[type='submit'].search-submit:hover,
.button-accent:focus,
input[type='submit'].search-submit:focus {
	border-color: #5d8aa6;
	color: #5d8aa6;
	background-color: transparent;
	text-decoration: none;
}

.button-success {
	border-color: #1fc281;
	color: #fff;
	background-color: #1fc281;
}

.button-success:hover,
.button-success:focus {
	border-color: #1fc281;
	color: #1fc281;
	background-color: transparent;
	text-decoration: none;
}

.button-info {
	border-color: #00b9f2;
	color: #fff;
	background-color: #00b9f2;
}

.button-info:hover,
.button-info:focus {
	border-color: #00b9f2;
	color: #00b9f2;
	background-color: transparent;
	text-decoration: none;
}

.button-warning {
	border-color: #f4cc31;
	color: #fff;
	background-color: #f4cc31;
}

.button-warning:hover,
.button-warning:focus {
	border-color: #f4cc31;
	color: #f4cc31;
	background-color: transparent;
	text-decoration: none;
}

.button-danger {
	border-color: #e83337;
	color: #fff;
	background-color: #e83337;
}

.button-danger:hover,
.button-danger:focus {
	border-color: #e83337;
	color: #e83337;
	background-color: transparent;
	text-decoration: none;
}

/* Alignments */

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

img.alignleft {
	max-width: 50%;
	margin: 0 1.5em 1.5em 0;
}

img.alignright {
	max-width: 50%;
	margin: 0 0 1.5em 1.5em;
}

.wp-caption.alignleft {
	max-width: 50%;
	margin: 0 1.5em 1.125em 0;
}

.wp-caption.alignright {
	max-width: 50%;
	margin: 0 0 1.125em 1.5em;
}

blockquote.alignleft {
	width: 50%;
	margin: 1.125em 1.125em 1.125em 0;
}

blockquote.alignright {
	width: 50%;
	margin: 1.125em 0 1.125em 1.125em;
}

/* Accessibility */

.assistive-text {
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	width: 1px;
	height: 1px;
}

.assistive-text:hover,
.assistive-text:active,
.assistive-text:focus {
	display: block;
	clip: auto !important;
	z-index: 100000;
	top: 5px;
	left: 5px;
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	border-radius: 3px;
	color: #21759b;
	background-color: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	font-size: 15.75px;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
}

/* Clearings */

.clear:after,
.site-footer:after {
	display: table;
	clear: both;
	content: '';
}

/**
 * Partials
 */

/* Primary Menu */

.menu-primary-container {
	width: 100%;
	min-height: 3em;
	border-bottom: 1px solid rgba(88, 88, 88, 0.15);
	background-color: #fff;
}

.menu-primary-container ul {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-primary-container ul ul {
	display: block;
	margin: 0;
	padding: 0;
}

.menu-primary-container a {
	display: block;
	padding: 1.2em;
	background-color: #fff;
	font-size: 15px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* Toggle Hamburger */

.menu-toggle {
	display: block;
	position: absolute;
	z-index: 1001;
	top: 0;
	right: 0;
	width: 3em;
	height: 3em;
	padding: 0;
	background-color: #5d8aa6;
	font-size: 18px;
	text-align: left;
	text-indent: -9999px;
}

.admin-bar .menu-toggle {
	top: 46px;
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: rgba(93, 138, 166, 0.5);
}

.menu-toggle:before,
.menu-toggle:after {
	display: block;
	position: absolute;
	left: 25%;
	width: 1.5em;
	height: 1px;
	background-color: #fff;
	content: '';
}

.menu-toggle:before {
	top: 25%;
}

.menu-toggle:after {
	bottom: 25%;
}

.menu-toggle.toggle-on:before,
.menu-toggle.toggle-on:after {
	background-color: #fff;
}

.menu-toggle.toggle-on:before {
	-webkit-transform: rotate(225deg);
	    -ms-transform: rotate(225deg);
	        transform: rotate(225deg);
}

.menu-toggle.toggle-on:after {
	-webkit-transform: rotate(-225deg);
	    -ms-transform: rotate(-225deg);
	        transform: rotate(-225deg);
}

/**
 * Templates
 */

/**
 * Media Queries
 */

@media screen and (min-width: 600px) {
	.menu-primary-container ul {
		display: block;
		width: auto;
		margin: 0 auto;
		text-align: center;
		list-style: none;
	}

	.menu-primary-container ul ul {
		float: left;
		position: absolute;
		z-index: 99999;
		top: 100%;
		left: -999em;
		margin: 0;
		padding: 0.5em 0 0.75em;
		border-top: 1px solid #fff;
		border-right: 1px solid rgba(88, 88, 88, 0.15);
		border-bottom: 1px solid rgba(88, 88, 88, 0.15);
		border-left: 1px solid rgba(88, 88, 88, 0.15);
		background-color: #fff;
		text-align: left;
	}

	.menu-primary-container ul ul ul {
		top: 0;
		left: -999em;
	}

	.menu-primary-container ul ul li:hover > ul,
	.menu-primary-container ul ul li.focus > ul {
		left: 100%;
	}

	.menu-primary-container ul ul a {
		width: 13em;
		padding: 0 1.2em;
		font-weight: normal;
	}

	.menu-primary-container ul li:hover > ul,
	.menu-primary-container ul li.focus > ul {
		left: auto;
	}

	.menu-primary-container li {
		display: inline-block;
		position: relative;
	}

	.menu-primary-container a {
		padding: 1.2em;
		text-align: left;
	}

	.menu-toggle {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	blockquote,
	q {
		margin: 2.25em;
	}

	.site-content {
		padding: 3em 3em 1.5em;
	}

	.site-footer {
		padding: 0.75em 3em;
	}

	.site-info-generator {
		margin-right: 0.75em;
		padding-right: 0.75em;
		border-right: 1px solid rgba(88, 88, 88, 0.39);
	}

	blockquote.alignleft {
		margin: 2.25em 2.25em 2.25em 0;
	}

	blockquote.alignright {
		margin: 2.25em 0 2.25em 2.25em;
	}
}
