/* Primary Menu */

.menu-primary-container {
	width: 100%;
	// min-height: 3em;
	background-color: $color__text-light;
	ul {
		display: none;
		margin: 0;
		padding: 0;
		list-style: none;
		ul {
			display: block;
			margin: 0;
			padding: 0;
		}
	}
	a {
		display: block;
		padding: 1.2em;
		background-color: #fff;
		font-size: 15px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

@media screen and ( min-width: 600px ) {
	.menu-primary-container {
		border-bottom: 1px solid $color__text-light;
		background-color: $color__header-bg;
		ul {
			display: block;
			width: auto;
			margin: 0 auto;
			text-align: center;
			list-style: none;
			ul {
				float: left;
				position: absolute;
				z-index: 99999;
				top: 100%;
				left: -999em;
				margin: 0;
				padding: 0.5em 0 0.75em;
				border-top: 1px solid #fff;
				border-right: 1px solid $color__text-light;
				border-bottom: 1px solid $color__text-light;
				border-left: 1px solid $color__text-light;
				background-color: #fff;
				text-align: left;
				ul {
					top: 0;
					left: -999em;
				}
				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}
				a {
					width: 13em;
					padding: 0 1.2em;
					font-weight: normal;
				}
			}
			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}
		li {
			display: inline-block;
			position: relative;
		}
		a {
			padding: 1.2em;
			text-align: left;
		}
	}
}

/* Toggle Hamburger */

$dash_height: 1px;
$dash_width: 1.5em;

.menu-toggle {
	display: block;
	position: absolute;
	z-index: 1001;
	top: 0;
	right: 0;
	width: 3em;
	height: 3em;
	padding: 0;
	background-color: $color__accent;
	font-size: $font__size-body-px;
	text-align: left;
	text-indent: -9999px;
	.admin-bar & {
		top: 46px;
	}
	&:hover,
	&:focus {
		background-color: rgba( $color__accent, 0.9 );
	}
	@media screen and ( min-width: 600px ) {
		display: none;
	}
	// The icon.
	&:before,
	&:after {
		display: block;
		position: absolute;
		left: 25%;
		width: $dash_width;
		height: $dash_height;
		background-color: #fff;
		content: '';
	}
	&:before {
		top: 23px;
	}
	&:after {
		bottom: 23px;
	}
}

.menu-toggle.toggled-on {
	&:before {
		transform: rotate( 225deg );
		top: 26px;
	}
	&:after {
		transform: rotate( -225deg );
		bottom: 27px;
	}
}
