/* Homepage */

.page-slug-wordcamp-moscow-2016 {
	.entry-header,
	.edit-link {
		@extend .assistive-text;
	}
	.site-footer {
		border-top: none;
	}
}

.outset {
	@extend .clear;
	@media screen and ( min-width: $sm ) {
		margin-right: -3em;
		margin-left: -3em;
	}
}

.section {
	@extend .clear;
	padding: 1.5em 1.5em 0;
	@media screen and ( min-width: $sm ) {
		padding: 3em 3em 1.5em;
	}
}

.wcm-section-heading {
	text-align: center;
}

// Hero
.wcm-hero {
	@extend .clear;
	margin-bottom: 1.5em;
	color: #fff;
	background-image: url( 'https://2016.moscow.wordcamp.org/files/2016/04/hero-v0.1.4.png' );
	background-repeat: no-repeat;
	background-size: 100%;
	background-size: cover;
	text-align: center;
	h1 {
		color: #fff;
		font-size: 36px;
		line-height: 1.1;
	}
	@media screen and ( min-width: $sm ) {
		margin-bottom: 3em;
		text-align: left;
	}
}

.wcm-about {
	@media screen and ( min-width: $sm ) {
		padding-bottom: 1.5em;
	}
}

// Speakers.
.wcm-speakers {
	margin-bottom: 1.5em;
	background-color: $color__text-light;
	@media screen and ( min-width: $sm ) {
		margin-bottom: 3em;
	}
}

.wcm-speakers-heading {
	@media screen and ( min-width: $sm ) {
		margin-bottom: 3rem;
	}
}

.wcm-speaker {
	@media screen and ( min-width: $sm ) {
		@include span( 4 );
		position: relative;
		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}
	br {
		display: none;
	}
}

.wcm-speaker-img {
	display: block;
	margin-bottom: 0.75em;
	img {
		display: block;
	}
}

.wcm-speaker-name {
	letter-spacing: normal;
	text-transform: none;
}

.wcm-section-message {
	color: $color__text-secondary;
	text-align: center;
	@media screen and ( min-width: $sm ) {
		margin-top: 1.5em;
	}
	a {
		color: $color__text-secondary;
		text-decoration: underline;
	}
}

// Sponsors.
.wcm-sponsors {
	@extend .clear;
	// margin-bottom: 1.5em;
}

.wcm-sponsor {
	margin-bottom: 1.5em;
	border: 1px solid $color__text-light;
	background-color: rgb( 250, 250, 250 );
	a {
		display: block;
	}
	img {
		display: block;
		width: 100%;
	}
}
.wcm-sponsors-gold .wcm-sponsor {
	@media screen and ( min-width: $sm ) {
		@include span( 4 );
		margin-bottom: gutter();
	}
	&:nth-of-type(3n) {
		margin-right: 0;
	}
}
.wcm-sponsors-silver .wcm-sponsor {
	@media screen and ( min-width: $sm ) {
		@include span( 3 );
		margin-bottom: gutter();
	}
	&:nth-of-type(4n) {
		margin-right: 0;
	}
}
.wcm-sponsors-bronze .wcm-sponsor {
	@media screen and ( min-width: $sm ) {
		@include span( 2 );
		margin-bottom: gutter();
	}
	&:nth-of-type(6n) {
		margin-right: 0;
	}
}

// Purchase tickets.
.wcm-purchase-ticket {
	@extend .clear;
	padding: 1.5em 0;
	background-color: $color__text-light;
	@media screen and ( min-width: $sm ) {
		padding: 3em 0 1.5em;
	}
	.col-wrap {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
}
