/* Single */

.single {
	.content-area {
		@include with_layout( $susy-static ) {
			max-width: span( 8 );
		}
		margin-right: auto;
		margin-left: auto;
		@media screen and ( min-width: $sm ) {
			@include span( 8 );
		}
	}
	&.no-sidebar {
		.content-area {
			@include with_layout( $susy-static ) {
				max-width: span( 8 );
			}
			float: none;
			width: 100%;
			margin-right: auto;
			margin-left: auto;
		}
		.post-thumbnail {
			@extend %outset;
		}
	}
	.widget-area {
		@media screen and ( min-width: $sm ) {
			@include span( 4 last );
		}
	}
	.entry-content {
		@media screen and ( min-width: $sm ) {
			margin-bottom: 1.5em;
		}
	}
	.entry-title {
		margin-bottom: 13.5px;
		margin-bottom: 0.75rem;
		font-weight: 400;
		text-align: center;
		@media screen and ( min-width: $sm ) {
			margin-bottom: 27px;
			margin-bottom: 1.5rem;
			font-size: 2.7em;
			line-height: 54px;
			line-height: 3rem;
		}
	}
	.entry-meta {
		text-align: center;
		@media screen and ( min-width: $sm ) {
			margin-bottom: 13.5px;
			margin-bottom: 1.5em;
		}
	}
}
